<div class="app align-items-center">
<div class="container">
<h2 class="page_heading">Reprint Insurance Receipt</h2>
<div class="row justify-content-center">
  <div class="col-md-8 col-sm-12">
        <div class="page_container">
          <div class="inside_page_container pb-0">
               <div class="row">
          	<div class="col-lg-12">
            <div class="form-group mb-0">
            <div class="postion_rel"> 
            		<input class="form-control" placeholder="Search Family Head/Individual Civil ID" name="search" data-validation="number" type="text" #searchVal>
                    <button (click)="onSearch(searchVal.value)" class="srch_btn" name="submit" id="submit" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                    </div>
            </div>
          </div>
          </div>
          <hr class="mb-0" />
          <div class="clearfix"></div>
          <div *ngIf="showpayementDetails" class="inside_page_container">
          <div class="basic-form text-center mt-4 re-print-receipt">
            <span class="mb-2">Amount Paid  <strong>{{totalAmount}}.000 KD</strong></span><br/><br/>
            <span >Your Last Transaction reference number is  <strong>{{knetPaymntId}}</strong></span>
            <div class="text-center mt-5 mb-5">
              <button type="submit" class="submitbtn" (click)="onPrint()">Print Insurance</button>
             <!--<button type="submit" class="submitbtn">DOWNLOAD PDF</button>--></div>
          </div>
          </div>
        </div>
         </div>
      </div>
      </div>
</div>
