
<div class="public_header">
	<div class="container-fluid">
    <div class="logo_sec pull-left">
    	 <a href="#"><img class="img-fluid" src="assets/img/brand/public_head_logo.png" /></a>
    </div>
    <div class="lag_sec pull-right">
    <div class="header_right">
    	<div class="lag_change">
        <select  class="form-control">
<option value="0">English</option>

</select>
        </div>
        
        <div class="login_info">
        
        </div>
        </div>
    </div>
    </div>
</div>

<div class="app align-items-center">
<div class="container">
<h2 class="page_heading">Add Family Members</h2>
<div class="row justify-content-center">
  <div class="col-sm-8 col-xs-12">
    <div class="page_container">
     <div class="inside_page_container">
        <div class="basic-form">
        <div class="row">
            <div class="form-group col-sm-6">
            <label >Id</label>
            <input class="form-control"  placeholder="Please enter ID" type="text">
            </div>
            <div class="form-group col-sm-6">
            <label >Full Name</label>
            <input class="form-control" id="postal-code" placeholder="Please enter Full Name" type="text">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
            <label >Relation</label>
            <input class="form-control"  placeholder="Please enter Article Number" type="text">
            </div>
            <div class="form-group col-sm-6">
            <label >Gender</label>
           <div class="stylish_radio">
<div class="radio radio-primary  form-check-inline">
            <input type="radio" name="radio1" id="radio1" value="option1">
            <label for="radio1">
                <span>Male</span>
            </label>
        </div>
        <div class="radio radio-primary  form-check-inline">
            <input type="radio" name="radio1" id="radio2" value="option1">
            <label for="radio2">
                <span>Female</span>
            </label>
        </div>
        </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
            <label >Date of Birth</label>
           <div class="input-group">
<input class="form-control" placeholder="DD/MM/YY" type="email">
<div class="input-group-append">
<span class="input-group-text"><i class="fa fa-calendar"></i></span>
</div>
</div>
            </div>
            <div class="form-group col-sm-6">
            <label >Upload DOB Certificate</label>
            <input class="form-control input-type-file" id="postal-code" placeholder="Please enter Full Name" type="file">
            </div>
        </div>
        <div class="text-center mt-2 mb-2">
                <button type="submit" class="submitbtn">Add</button>
        </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
        <div class="col-lg-12">
            <div class="form-group basic-form"><label>Family Members List</label></div>
            <div class="table-responsive">
            <table class="table table_list">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>RelationShip</th>
                    <th>Gender</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Pompeius René</td>
                    <td>Wife</td>                
                    <td>Male</td>
                    <td>
                        <a class="action_icon" href="#"><i class="fa fa-pencil fa-lg"></i></a>
                        <a  class="action_icon" href="#"><i class="fa fa-minus-circle"></i></a>
                    <!--icon for Edit and delete-->
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Pompeius René</td>
                    <td>Wife</td>                
                    <td>Male</td>
                    <td>
                          <a class="action_icon" href="#"><i class="fa fa-pencil fa-lg"></i></a>
                        <a  class="action_icon" href="#"><i class="fa fa-minus-circle"></i></a>
                    <!--icon for Edit and delete-->
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Pompeius René</td>
                    <td>Wife</td>                
                    <td>Male</td>
                    <td>
                          <a class="action_icon" href="#"><i class="fa fa-pencil fa-lg"></i></a>
                        <a  class="action_icon" href="#"><i class="fa fa-minus-circle"></i></a>
                    <!--icon for Edit and delete-->
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Pompeius René</td>
                    <td>Wife</td>                
                    <td>Male</td>
                    <td>
                         <a class="action_icon" href="#"><i class="fa fa-pencil fa-lg"></i></a>
                        <a  class="action_icon" href="#"><i class="fa fa-minus-circle"></i></a>
                    <!--icon for Edit and delete-->
                    </td>
                </tr>
                
                </tbody>
          </table>
          </div>
          </div>
        </div>
         <div class="text-center mt-4 mb-2">
              <button type="submit" class="cancelbtn">Cancel</button>
                <button type="submit" class="submitbtn">Proceed</button>
        </div>
    </div>
</div>

 </div>
    </div>
</div>
</div>
<footer class="inside-footer">Copyright © 2018 All rights reserved. </footer>